{% if page.features_count > 0 %}

	{% if page.features.size > 0 %}

	<div id="page_features">

		{% if page.features.size == 1 %}

			<div id="slides" style="position: relative;">
				<div class="slides_container">
				{% for feature in page.features %}
					<div>
					{% if feature.headline.size > 0 %}
						<div id="features_headline" style="width: {{ feature.image_width }}px;"><a href="{{ feature.page.url }}">{{ feature.headline }}</a></div>
					{% endif %}
					<a href="{{ feature.page.url }}">
					<img src="{{ feature.image_url }}" height="{{ feature.image_height }}px;" width="{{ feature.image_width }}px;"/>
					</a>
					</div>
				{% endfor %}
			</div>
		</div>

		{% else %}

			<div id="slides">

				{% assign feature_max_height = 0 %}
				{% for feature in page.features %}
						{% if feature.image_height > feature_max_height %}
							{% assign feature_max_height = feature.image_height %}
						{% endif %}
				{% endfor %}

				<div class="slides_container" style="height: {{feature_max_height}}px; overflow: hidden">

					{% for feature in page.features %}
						<div>
						{% if feature.headline.size > 0 %}
						<div id="features_headline" style="width: {{ feature.image_width }}px;"><a href="{{ feature.page.url }}">{{ feature.headline }}</a></div>
						{% endif %}
						<a href="{{ feature.page.url }}">
						<img src="{{ feature.image_url }}" height="{{ feature.image_height }}px;" width="{{ feature.image_width }}px;"/>
						</a>
						</div>
					{% endfor %}

				</div>

				<div class="features_pagination">
					<ul>
					{% for feature in page.features %}
						<li><a href="{{ feature.page.url }}">{{ feature.name }}</a></li>
					{% endfor %}
					</ul>
				</div>

			</div>

		{% endif %}

	</div>

	{% endif %}

{% endif %}
