@import "liquid_variables";

// theme colors

$theme_color_1: #0397db; // blue
$theme_color_2: #333333; // dark grey
$theme_color_3: #333333; // dark grey
$theme_color_4: #0397db; // blue
$theme_color_5: #0397db; // blue
$theme_color_6: #666666; // grey

// background transparencies

$background_no_rgba: rgb(255, 255, 255) transparent;
$background_rgb: rgba(255, 255, 255, 0.6);
$background_ie7: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
$background_ie: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";

$topnav_off: #fff; // white
$header_headline: black;
$pb_posted: #DBDBDB; 

$page_width: 980px;

$theme_callout: true;

// nav

$supporter_nav_on: $theme_color_4;
$supporter_nav_hover: $theme_color_4;

// fonts

$fonts: Helvetica, Arial, sans-serif;
$form_field_font: Helvetica, Arial, sans-serif;
$headline_font: Helvetica, Arial, sans-serif;
$headline_weight: bold;

@import "liquid_all";
@import "liquid_basic_framework";

/* Theme specific SCSS exists in the file imported below. 
Click the Default button above the template editor to see 
what the file contains if you wish to override any of it. */

@import "focus";

/* Add SCSS you wish to override or add below. */