<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page_title }}</title>

  <link rel="stylesheet" href="theme.scss" type="text/css" />
  {{ content_for_header }}

  </head>

  <body>

    <div align="center">
      <div id="body" class="page_{{ request.template }}">

        <div id="nav_background">
          <div class="width_container">
            <table cellpadding="0" cellspacing="0">
              <tr><td>{% include "nav" %}</td></tr>
            </table>
          </div>
        </div>

        <div class="width_container">

          {% if site.has_header_image? %}
          <div id="header">
            <div id="header_wrap">
              <a href="/"><img src="{{ site.header_image_url_980 }}" width="980" border="0" /></a>
            </div>
          </div>
          {% else %}
          <div id="header">
            <div id="header_wrap">
              <div class="header_headline"><a href="/">{{ site.long_name }}</a></div>
              <div class="clear"></div>
            </div>
          </div>
          {% endif %}

          <div id="middle">
            {% if request.is_sidebar? %}
            {% include "columns_2" %}
            {% else %}
            {% include "columns_1" %}
            {% endif %}
          </div>

          {{ content_for_footer }}

        </div>

        <div class="width_container">
          <div id="footer">
            <div class="footer_container">

              {% if site.footer_content.size > 0 %}
              {{ site.footer_content }}
              <hr />
              {% endif %}

              <div style="float: left;">
                {% if request.logged_in? %}
                  Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                  {% if site.show_public_profiles? %}
                    <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                  {% endif %}
                  <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                  <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                {% else %}
                  Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                      href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                {% endif %}
              </div>

        

        <div class="clear"></div>
        </div>
      </div>

  </div>
  </div>
  </div>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        $j.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
    <![endif]-->
    <style>
      body {
        background: url({{ site.background_image_url }}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </body>
</html>
