<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page_title }}</title>

      <link rel="stylesheet" href="theme.scss" type="text/css" />
		  {{ content_for_header }}

</head>

<body>

	<div align="center">
	<div id="body" class="page_{{ request.template }}">

		{{ content_for_notifications }}

    <div class="width_container">
		<div class="splash_header">

    {% if site.has_header_image? %}
    <div id="header">
      <div id="header_wrap">
        <a href="/"><img src="{{ site.header_image_url_980 }}" width="980" border="0" /></a>
      </div>
    </div>
    {% else %}
    <div id="header">
      <div id="header_wrap">
        <div class="header_headline"><a href="/">{{ site.long_name }}</a></div>
        <div class="clear"></div>
      </div>
    </div>
    {% endif %}

		</div>

		<div class="splash_middle">

		<div class="content_{{ request.template }}">

      {% yield %}

			{% if request.is_intern? and page.is_editing_available? %}
		      <a href="{{ page.admin_edit_url }}">{{ "fugue-edit-signiture" | icon }} Edit this page</a>
		  {% endif %}

			<div align="center"><div class="submit-button" id="splash-button"><a href="/">Continue to {{ site.name }}</a></div></div>

		</div>

		</div>
		{{ content_for_footer }}

	</div>
	</div>
	</div>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
      $j.backstretch("{{ site.background_image_url }}", {speed: 0});
    </script>
  <![endif]-->
  <style>
    body {
      background: url({{ site.background_image_url }}) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
</body>
</html>
