{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<div id="headline">
	  <h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	{% if request.logged_in? %}

	<div class="padtopmore">
	<div class="supporter_pc_balance_bg">

	<div style="float: left;">

	  {{ "fugue-jar-open" | icon }} <b>Balance</b>
	  <div class="padtopless"><span class="pc" id="pc_big">{{ request.current_signup.capital_amount_format }}</span></div>

	</div>

	<div style="float: right;">

	  <div style="float: left; padding-right: 15px;">
	  {{ "fugue-jar--plus" | icon }} <b>Earned</b>
	  <div class="padtopless"><span class="pc" id="pc_earned_big">{{ request.current_signup.received_capital_amount_format }}</span></div>
	  </div>
	  <div style="float: left;">
	  {{ "fugue-jar--minus" | icon }} <b>Spent</b>
	  <div class="padtopless"><span class="pc" id="pc_spent_big">{{ request.current_signup.spent_capital_amount_format }}</span></div>
	  </div>

	  <div style="clear: left;"></div>

	</div>
	<div style="clear: both;"></div>

	</div>
	</div>

	{% if request.current_signup.capitals.size > 0 %}
	  <div class="padtopmore">
	  <!-- ledger table -->
	  <table cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	  <td width="60%"><b>Description</b></td>
	  <td width="15%"><b>Amount</b></td>
	  <td width="20%"><b>Date</b></td>
	  </tr>
	  <tr>
	  <td width="100%" colspan="3"><hr style="margin: 5px 0 10px 0;"></td>
	  </tr>
	  {% for capital in request.current_signup.capitals %}
	    {% if capital.receiver_id == request.current_signup.id %}
	      <tr class="supporter_ledger_green">
	      <td valign="top" align="left" class="supporter_ledger_desc" width="60%">{{ capital.activity.show_oneliner_view }}</td>
	      <td width="15%">{{ capital.amount_format }}</td>
	      <td width="20%" nowrap>{{ capital.created_at | date_to_string }}</td>
	      </tr>
	    {% elsif capital.spender_id == request.current_signup.id %}
	      <tr class="supporter_ledger_red">
	      <td valign="top" align="left" class="supporter_ledger_desc" width="60%">{{ capital.activity.show_oneliner_view }}</td>
	      <td width="15%">{{ capital.amount_spent_format }}</td>
	      <td width="20%" nowrap>{{ capital.created_at | date_to_string }}</td>
	      </tr>
	    {% endif %}
	    <tr height="5"></tr>
	  {% endfor %}
	  </table>
	  <!-- ledger table ends -->

	  <div class="padtop">
	    {{ request.current_signup.capitals | paginate }}
	  </div>
	  </div>
	{% endif %}

	{% else %}

	<div>
		{% if request.sorta_logged_in? and request.current_signup.has_password? == true %}
	    	<div class="padbottom"><strong>Please verify your password</strong></div>
	    {% elsif request.sorta_logged_in? and request.current_signup.has_password? == false %}
	    	<div class="padbottom"><strong>Please activate your account</strong></div>
	    {% else %}
	    <div class="padbottom"><strong>Sign in to view political capital</strong></div>
	    <a href="{{ request.facebook_connect_url }}" style="margin-right: 5px;"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
    	<a href="{{ request.twitter_connect_url }}" style="margin-left: 5px;"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
    	{% endif %}
	</div>

	{% if request.sorta_logged_in? and request.current_signup.has_password? == true %}

	{% if request.is_ajax? == true %}
	<div class="padtopless"></div>
	{% endif %}

	{% form_for user_session autocomplete:off %}

		<div class="form_errors">{% error_messages_for user_session %}</div>

	    {% hidden_field_tag "user_session[email]", request.current_signup.email %}

	    <p><label for="user_session_password">Password</label><br>{% password_field "password", class:"text" %}</p>

	      {% submit_tag "Sign in with password", class:"submit-button" %}
	      <div class="form_submit"></div>

	    <div class="padtopmore">
	  	  <a href="{{ request.new_password_reset_url }}">Forgot your password?</a>
	  	</div>

	  	 {% if request.current_signup.has_facebook_info? or request.current_signup.has_twitter_info? %}
	         <div align="center">
	           <div class="padtop padbottom">
	           <hr>
	           <div class="orsignin_wrap"><span id="orsignin">Or sign in with {% if request.current_signup.has_facebook_info? %}Facebook{% endif %} {% if request.current_signup.has_twitter_info? %}or Twitter{% endif %}</span></div>
	           </div>
	          {% if request.current_signup.has_facebook_info? %}
	            <a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}" style="margin-right: 5px;" /></a>
	          {% endif %}
	          {% if request.current_signup.has_twitter_info? %}
	            <a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}" style="margin-left: 5px;" /></a>
	          {% endif %}
	          </div>
	      {% endif %}

	    <div align="center" class="padtop">
	  	  If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
	  	</div>


	{% endform_for %}

	{% elsif request.sorta_logged_in? and request.current_signup.has_password? == false %}

	{% else %}

	{% form_for user_session autocomplete:off %}

	<div class="form_errors">{% error_messages_for user_session %}</div>

	<p><label for="user_session_email">Email Address</label><br>{% email_field "email", class:"text" %}</p>

	<p><label for="user_session_password">Password</label><br>{% password_field "password", class:"text" %}</p>

	<p><label for="user_session_remember_me">{% check_box "remember_me", class:"checkbox" %} Remember me</label></p>

	{% submit_tag "Sign in with email", class:"submit-button" %}
	<div class="form_submit"></div>

	<div class="padtopmore">
	  <a href="{{ request.new_password_reset_url }}">Forgot your password?</a>
	</div>

	{% endform_for %}

	{% endif %}

	{% endif %}

</div>
