    <div class="home-blog">
      <div class="width-container clearfix">
          <h1>News</h1>
          {% subpage "blog" with "1latest_blog_temp" %}
      </div>
    </div>

<div class="footer-wrap">
   <footer class="clearfix width-container">
      {{ content_for_footer }}
      <div class="row-fluid">
         <div class="span12 footer-left">
            <div class="footer-text desktop-visible">
               <span class="login-text">
               {% if request.logged_in? %}
               Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
               {% if site.show_public_profiles? %}
               <a href="{{ request.current_signup.profile_url }}">public profile</a>,
               {% endif %}
               <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
               <a href="{{ request.current_signup.logout_url }}">sign out</a>.
               {% endif %}
               </span>
            </div>
            <div class="footer-text mobile-visible">
               <span class="login-text">
               {% if request.logged_in? %}
               Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>.<br/>View your
               {% if site.show_public_profiles? %}
               <a href="{{ request.current_signup.profile_url }}">public profile</a>,
               {% endif %}
               <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
               <a href="{{ request.current_signup.logout_url }}">sign out</a>.
               {% endif %}
               </span>
            </div>
            <div class="footer-text">
               <div class="width-container">
                  <div class="footer-main-content">
                     <div class="left">{{ site.footer_content }}</div>
                     <!-- Nation builder link start -->
                     <!-- SIGN IN BEGIN -->
                     <div class="signin">
                        {% if request.logged_in? %}
                        Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your <a href="{{ request.current_signup.profile_url }}">public profile</a>, <a href="{{ request.current_signup.settings_url }}">account settings</a>, or <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                        {% else %}
                        Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                        {% endif %}
                     </div>
                     <!-- SIGN IN END -->   
                     <a href="index.com">Home<a/>&nbsp;|&nbsp;<a href="/who_i_am">Meet Reginald<a/>&nbsp;|&nbsp; <a href="/in_the_news">News<a/>&nbsp;|&nbsp;  <a href="/get_involved">Get Involved<a/>&nbsp;|&nbsp;  <a style="color:#f25626" href="/donate">Donate<a/>
                     <!-- ation builder link start -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>