// footer
$footer-background:#0B3B5D;
$footer-color: #fff;
$footer-background-2: #024b78;
$footer-color-2: #fff;

$footer-border:1px solid rgba(255, 255, 255, 0.2);  /*this border is using in footer on left area*/

$footer-social-facebook:url("fb.png") 0 0 no-repeat;
$footer-social-tweeter:url("tw.png") 0 0 no-repeat;
$footer-social-gmail:url("mail.png") 0 0 no-repeat;

$shade-1: #000;
$shade-1-text: #F3F8FF;
$shade-2: #fff;
$shade-3: lighten($shade-2, 15);

// site wide footer
  .footer-wrap {
   /* background: $footer-background; */
    color: $footer-color-2; 
    width:100%;
    float:left;
    ::-webkit-input-placeholder {
      color: $shade-1-text;
      opacity: .5 !important;
    }
    :-moz-placeholder {
        color: $shade-1-text;
        @include opacity(.5);
    }
    ::-moz-placeholder {
        color: $shade-1-text;
        @include opacity(.5);
    }
    select, textarea, input {
      border-color: $shade-1-text;
      color: $shade-1-text;
      background: $form-background;
    }
    select { background: $dropdown-background-2; }
    textarea:focus, input:focus {
      border-color: $theme-color-1;
      outline: 0;
    }
    .button, .submit-button, button, label.radio {
      border-color: $button-color;
      color: $button-color;
      background: $button-background;
      a {
        color: $button-color;
        text-decoration: none;
      }
      &:hover {
        background-color: $button-hover-background;
        border: $button-hover-border;
        color: $button-hover-color;
      }
      &:active {
        background-color: $button-active-background;
        border: $button-active-border;
        color: $button-active-color;
      }
    }
    @if $link-decoration == underline or $theme == black or $theme == white {
      a {
        color: $shade-1-text;
      }
      .button, .submit-button, button, label.radio {
        border-color: $shade-1-text;
        color: $shade-1-text;
        background: $button-background;
        &:hover {
          border-color: darken($shade-1-text,8);
          color: darken($shade-1-text,8);
        }
        &:active {
          border-color: darken($shade-1-text,15);
          color: darken($shade-1-text,15);
        }
      }
      footer {
        a {
          color: $footer-color;
            font-weight:700;
        }
      }
    }
    h5 {
      margin-bottom: 2em;
    }
    .submit-button {
      float: right;
    }
    &:before {
      content: "";
      display: block;
      height: 15px;
       /*margin-bottom: 1.5em;
     background: $divider-background-1;*/
    }
  }

  footer {
    font-size: 1em;
    padding:0 0 58px 0;
    /*background: $footer-background;*/
    color: $footer-color;
    position: relative;
    z-index: 5;
    text-align: center;
    height:auto !important;
    .footer-text {
      margin-bottom: 1em;
      p {
        margin: 0;
      }
    }
    .footer-right {
      text-align:center;
    }
    &.clearfix:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -9998px;
      height: 100%;
      z-index: -1;
      border-right: 9999px solid $footer-background;
      @include box-shadow(9999px 0 0 0 $footer-background);
    }
  }

  .footer-signup.width-container {
    margin: 4em auto;
    background: $footer-background-2;
    color: $footer-color-2;
  }

  .footer-form {
    margin-bottom: 3em;
  }

  .footer-supporter-tiles {
    img {
      display: block;
      width: 22.3%;
      margin-right: 3.5%;
      margin-bottom: 3.5%;
      float: left;
    }
    & > a:nth-child(4n) img, & > img:nth-child(4n) {
      margin-right: 0;
    }
  }






/* this section of css is using for Footer area start here*/
.footer-text{
  
  .footer-main-content{
    width:100%;
    float:left;
     .left {
        width:61%;
      
      .footer-menu{
          width:95%;
          float:left;
          margin:0 0 15px 0;
          padding:0 0 20px 0;
          border-bottom:$footer-border;
        
        li{
          float:left;
          list-style:none;
          
          a{
            font-size:17px;
            color:$footer-color;
           font-weight:700;
            font-family:$headline-font;
          }
          
        }
        
        li+li{
          margin-left:56px;
        }
        
        }
      
      
      p{
        width:70%;
        float:left;
        
      }
      
      .footer-social-link{
        width:30%;
        float:left;
        text-align:left;
        
        li{
          float:left;
          width:37px;
          height:37px;
           list-style:none;
          
          a{
            background:$footer-social-facebook;
            width:100%;
            float:left;
            height:100%;
            font-size:0;
          }
       }    
          li+li{
            margin-left:6px;
            a{
            background:$footer-social-tweeter;
            }
          }
          
          li+li+li{
            a{
            background:$footer-social-gmail;
            }
          }
      }
      
    }
    
    .foot-two-logo{
          width: 30%;
    float: left;
    margin-top: -20px;
      li{
        width:100%;
        float:left;
        font-family:$headline-font;
       
         list-style:none;
      }
    }
    
  }
 
}


/* Fix for Home-Page Footer */

/*Footer area end here*/
.content-section{
  width:100%;
  float:left;
  padding:20px 0;
  
  h4{
    
    span{
      color:$shade-1;
    }
  }
  
  img{
    margin:20px 0;
  }
  .read-more{
    display:block;
    margin:15px 0;
  }
  
}


.footer-text{
  .footer-main-content{
    padding:0;
    
    .left{
      width:100%;
      .footer-menu {
        
        li+li{
        margin-left:42px;
        }
      }
    }
    .foot-two-logo{
      width:100%;
      margin:30px 0;
      text-align:center;
    }
  }
}













