/* ============
  Settings
===============*/
  $footer-background-color: $header-background-color;
  $footer-color: $header-color;
  $footer-link-color: #C71414;
  $footer-activities-background-color: darken($header-background-color, 4);

  $footer-text-border: 5px solid #fff;
  $footer-text-border-padding: 1em 1em 1em 1em;

/* ==========================================================================
To top
========================================================================== */
  .to-top {
    margin: 2em 0em 0em 0em;
    height: 60px;
    background-color: #495061;
    .to-top-wrap {
      height: 60px;
      width: 70px;
      position: absolute;
      right: 0;
      text-align: center; 
    }
    .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); 
    }
    .to-top-wrap a:hover, 
    .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); 
    }
    .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; 
    }
    .row {
      position: relative; 
    }
  }

.sign-in-list{
  list-style: none;
}



/* ==========================================================================
                            Top Footer
========================================================================== */
      .footer-text{
        border: $footer-text-border;
        padding: $footer-text-border-padding;
      }

      .white-fill{
        color: #fff;
        &.login-footer{
          border: 2px solid #fff;
          padding: 1em;
          margin: 1em;
          display: inline-block;
          // position: relative;
          // top: 2em;

          // @include boot(xs) {
          //   border: 2px solid #fff;
          //   padding: 8px;
          //   position: relative;
          //   top: -15px;
          //   left: 18em;
          // }
          // @include boot(sm) {
          //   border: 2px solid #fff;
          //   padding: 8px;
          //   position: relative;
          //   top: -15px;
          //   left: -2em;
          // }
          // @include boot(md) {
          //   border: 2px solid #fff;
          //   padding: 8px;
          //   position: relative;
          //   top: 15px;
          //   left: -2em;
          // }
        }
      }

        .footer {
            background: $footer-background-color;
            color: #fff;
            padding: 50px 0;
            display: inline-block;
            width: 100%;
            font-weight: 300;
          
            h1 {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 20px;
            }
            address a { color: #48cfad }

            .col-lg-3.col-sm-3{
              @include boot(xs) {
                padding: 2em 2em 2em 1em;
                margin: 0em 0em 0em 0em;
                border-top: 1px solid #fff;
                width: 100%;
              }
              .contact-section{
                @include boot(xs) {
                  padding: 0% 13%;
                }
              }
            }
        }

    ///// Tweet- Box ////////
        .tweet-box {
            background: #505b71;
            padding: 8px 15px;
            border-radius: 1px;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-bottom: 1px solid #636F79;
            font-size: 14px;
            // small
            @include boot(sm) {
              margin-bottom: 20px;
            }
        }

        .tweet-box:before {
            background-color: #505b71;
            border-color: #505b71;
            border-image: none;
            border-right: 1px none #505b71;
            border-style: none;
            content: "";
            display: block;
            height: 22px;
            left: 60px;
            position: absolute;
            top: 32px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 22px;
        }
        .tweet-box  a,
        .tweet-box i { color: #00adef }
        .tweet-box  a:hover { color: #48cfad }
        .tweet-box i {
            font-size: 40px;
            float: left;
            margin-right: 15px;
        }
    ///// END Tweet- Box ////////



    ///// Tweet- Box ////////
        .social-link-footer {
          @include boot(xs) {
            margin: 0em 0 4em 20%;
          }

          li {
              float: left;
              margin: 5px 10px 5px 0px;
              padding-bottom: 5px;
          }
        }
        .social-link-footer li a {
            color: #fff;
            background: #505b71;
            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            float: left;
            text-align: center;
            font-size: 20px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            @include boot(sm) {
              font-size: 16px;
              height: 40px;
              width: 40px;
            }
        }
        .social-link-footer li a:hover {
            background: #48cfad;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

    ///// END Social Link ////////

        .copyright {
            color: #fff;
            padding-top: 15px;
            p{color: #fff;}
        }

        .page-footer { padding: 0% 13% }
        .page-footer h1 { padding-left: 4% }

        ul.page-footer-list {
            list-style: none;
            padding: 0px 10px;
          li {
              line-height: 35px;
              border-bottom: 1px dashed #636F79;
          }
          a { 
            color: #fff ;
          }
          li i { 
            padding-right: 10px ;
          }
        }


    ///////////////////////////////////
      .social-share {
        // position: absolute;
        // background-color: $theme-color-1;
        // right: 0;
        // width: 40%;
        // height: 100%;
        // padding: 142px 0 0 70px; 
        @media only screen and (max-width: 40em) { 
          display: block;
          padding: 0em 0 0 70px;
        }
        // @media screen and (max-width:640px) {
        //     height: 49%;
        //     padding: 0px 0 0 117px;
        // }

        @media screen and (max-width:991px) {
          width: 100%;
        }
        p {
          color: #fff;
          text-transform: uppercase;
          padding-bottom: 10px; 
        }
        a.twitter-share {
          height: 60px;
          width: 60px;
          background-color: #1AB4EF;
          border-radius: 3px;
          font-size: 22px;
          display: inline-block;
          text-align: center;
          margin-right: 20px; 
        }
      }
      .social-share a.twitter-share:hover, 
      .social-share a.twitter-share:focus {
        background-color: #1590BF;
      }
      .social-share a.facebook-share:hover, 
      .social-share a.facebook-share:focus {
        background-color: #324C85; 
      }
      .social-share a.facebook-share {
        height: 60px;
        width: 60px;
        background-color: #3B5898;
        border-radius: 3px;
        font-size: 22px;
        display: inline-block;
        text-align: center;
        // Fix margins between icons
        margin: 5px 0 0 0;
      }
      .social-share a {
        color: #fff; 
      }
      .social-share a:hover {
        color: #fff; 
      }
      .social-share a i {
        margin-top: 20px; 
      }
    ///////////////////////////////////


/* ==========================================================================
      Small Footer
========================================================================== */
  .footer-small {
      background-color:  #495061;
      margin-top: -6px;
      padding-top: 5px;
      height: 150px;
    .footer-left{}
    .footer-middle{}
    .footer-right{
      
    }

  }
  .text-footer {
      padding-left: 10px;
      margin-left: 10px;
  }
  .text-footer p { text-align: left }
  .address p {
      text-align: left;
      margin-bottom: 10px;
  }
