  // $org-border-color:#8E9BA3;   // before the hover effect takes place
  // $org-hover-color:#0E2445; // change the border color on hover
  // $org-border-thinkness:5px;

  // $org-margin: 10px 0;

  // $org-height:320px; 

  // // single col
  // $xsm-height:  320px;
  // // 
  // $sm-height:   420px;
  // // 2-col
  // $md-height:   540px;
  // // full 4 col
  // $lg-height:   620px;

  // // Logo Sizes
  //   $org-logo-width: 15em;
  //   $org-logo-height: 6em;



    .row.title {
        padding: 0 20px;
    }
    
    .org-section {
      @media(max-width:992px) {
        padding: 30px 0;
      }
    }   
    .organization-container {
        margin: 0 0;
    }
    #organizations {
      margin: 0em 0 0 0;
      .container{
        width: 100%;
        padding: 0em;
        .org-title{
          padding: 1em 1em 1em 1em;
          margin: 0em 0em 2em 0em;
          background-color: #0E2445;
          color: #fff;
          min-width: 100%;
          h2,h4{
            color: #fff;
          }
          h4{
            padding:1em 0 1em 0;
          }
        }
      }
    }

    .organization {
      width: 100%;
      height: $org-height;
      margin: $org-margin; // 80px 0;
      text-align: center;
      border: $org-border-thinkness solid $org-border-color;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      // On Hover effect
      &:hover {
        border-color: $org-hover-color; // #00a8ff;
        .icon-holder { top: -30px;}
        .heading     { top: -30px;}
        .description {
          opacity: 1;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }  
      .icon-holder {
          position: relative;
          top: 100px;
          display: inline-block;
          margin-bottom: 40px;
          padding: 10px;
          background: white;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }
      .heading {
          position: relative;
          top: 80px;
          -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .icon-holder  img.icon {
          width: $org-logo-width;
      }
      .description {
          width: 80%;
          margin: 0 auto;
          opacity: 0;
          -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
      }
    }
    
    // Style each organation block independantly
      // Then again, I'm sure I could you just loop through this but that would probably 
      // blow any staffers / nation builder 'developers' mind because most are really just web admins
      // and not developers but hey thats the end of my rant...

    .organization {

      @include bp(sm-md) {
          margin-top: 2em;
      }
      // First Row
        &.CNL, &.ACE, &.MFVA, &.BAN{
          @include bp(md) {
            height: $sm-height;
          }
        }

        &.CNL{
          img{
            width: $org-logo-width;
          }
        }
        &.ACE{
          img{}
        }
        &.MFVA{
          .icon-holder  img.icon {
            width: $org-logo-width - 3em;
          }
        }
        &.BAN{
          .icon-holder  img.icon {
            width: $org-logo-width - 5em;
          }
        }

      // Middle Row
        // Set the height by the row
        &.NALEO, &.PAFCEF, &.PA, &.Puente, &.NALEO{
          height: 340px;
          @include bp(md) {
            height: $sm-height;
          }
        }
        &.NALEO{
          .icon-holder  img.icon {
            width: $org-logo-width - 5em;
            height: 6em;
          }
        }
        &.PAFCEF{
          .icon-holder  img.icon {
            width: $org-logo-width;
          }
        }
        &.PA{
          .icon-holder  img.icon {
            width: $org-logo-width - 3em;
            height: $org-logo-height;
          }
        }
        &.Puente{
          .icon-holder  img.icon {
            width: $org-logo-width - 5em;
            height: $org-logo-height + 4em;
            // align text
            margin: -4em 0 0 0;
          }
        }

      // Last Row
      &.CASE, &.AANF, &.FAS, &.ADAC{
        height: 520px;
        @include boot(xs) {
          height: $xsm-height;
        }
        @include boot(sm) {
          height: $sm-height;
        }
        @include boot(md) {
          height: $md-height;
        }
        @include boot(lg) {
          height: $sm-height + 20px;
        }
      }

      &.CASE{
        .icon-holder  img.icon {
          width: $org-logo-width - 8em;
          height: $org-logo-height;
        }
      }
      &.AANF{
        .icon-holder  img.icon {
          width: $org-logo-width - 5em;
        }
      }
      &.FAS{
        .icon-holder  img.icon {
          width: $org-logo-width - 7em;
          height: $org-logo-height;
        }
      }
      &.ADAC{
        .icon-holder  svg {
          background-color: #fff;
          height: $org-logo-height + 1em;
          width: $org-logo-width - 5em;
          .st0{
              fill:#002931;
          }
        }
      }

    }

// END ORGANIZATION