<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- CDN's -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Collective Theme -->
  <link rel="stylesheet" href="theme.scss" type="text/css">
  <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css" media="screen and (min-width: 768px)">


    {% if page.is_homepage? == true %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/flexslider.min.css">
    {% endif %}



  <!-- because ie8 ignores media queries, we need this -->
  <!--[if IE 8]>
    <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css">
  <![endif]-->


  <!--[if IE]>
  <link rel="stylesheet" href="ie.scss" type="text/css">
  <![endif]-->

  {{ content_for_header }}

  <script type="text/javascript">
    NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
  </script>

  <!-- Google Web Fonts -->
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400italic,700italic,400,700:latin', 'Exo+2:700:latin', 'Lato:900:latin', 'Noticia+Text:400,400italic,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  
  <script type="text/javascript" src="jquery.ui.effect.min.js"></script>
  <script type="text/javascript" src="jquery.ui.effect-slide.min.js"></script>
  <script type="text/javascript" src="staged-donations.js"></script>
  <script type="text/javascript" src="collective.js"></script>

    {% if page.is_homepage? == true %}
        <script scr="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/jquery.flexslider-min.js"></script>
    {% endif %}

    {% case page.slug %}
      {% when 'test' %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

      {% else %} 

    {% endcase %}

</head>
<body class="aware-theme v2-theme {{ page.page_class_name }} js">
  <div id="pattern" class="pattern">
    <div class="wrap" id="wrap">
      <div id="body" class="page-{{ request.template | replace: '_', '-' }}">

        <div class="header-container clearfix {% if site.has_background_image? %}no-background{% endif %}">
          <div class="width-container clearfix">

            {% include "nav" %}

            {% if site.has_meta_image? %}
              <div class="site-logo">
                <header><a href="/"><img src="{{ site.meta_image_url }}"></a></header>
              </div>
            {% else %}
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>
            {% endif %}

          </div>
          <!-- .width-container -->
        </div>
        <!-- .header-container -->

        <div class="nav-placeholder"></div>

        {% if site.has_header_image? %}
          {% unless page.features_count > 0 %}
          <div class="features-container">
           <img src="{{ site.header_image_url_1026 }}" class="header-image" border="0" />
          </div>
          {% endunless %}
        {% endif %}

        {% if page.features_count > 0 %}
        <div class="features-container">
        {% include "features" %}
        </div>
        {% endif %}


        {% if page.is_homepage? == true %}
        <style>
        .main-container{
          display: none;
        }
        </style>
          <!-- Include Intro with mission statement -->
          <!-- Include the issue partial -->
          
          {% comment %}
            {% include "1-testimonial" %}
            {% include "1-testimonial-half" %}
          {% endcomment %}
            {% include "1-intro" %}
            {% include "1az-organizations" %}


        {% endif %}

        {% case page.slug %}
          {% when 'latino_electorate' %}
              {% include "1-latino_electorate" %}
              <style>
                .to-top{
                  margin: 0em 0em 0em 0em !important;
                }
              </style>
          {% else %} 

                <div class="main-container" id="middle">
                  <div class="main width-container clearfix">

                    {% if request.is_sidebar? %}
                      {% include "columns_2" %}
                    {% else %}
                      {% include "columns_1" %}
                    {% endif %}

                  </div>
                  <!-- .main -->
                </div>
        {% endcase %}

        <!-- .main-container -->
{% comment %}

        <div class="width-container">
          <footer class="clearfix">

            {{ content_for_footer }}

            <div class="row-fluid footer-activities">

              <div class="span8 footer-left desktop-visible">

                {% unless site.recent_supporters_with_pictures == empty %}
                
                <h5>Powered by people like you</h5>

                <div class="desktop-visible">
                  {% for signup in site.recent_supporters_with_pictures limit:16 %} 
                    {{ signup.smaller_profile_image }} 
                  {% endfor %}
                </div>

                <div class="mobile-visible">
                  {% for signup in site.recent_supporters_with_pictures limit:10 %} 
                    {{ signup.smaller_profile_image }} 
                  {% endfor %}
                </div>

                {% endunless %}

              </div>

              <div class="span4 footer-right footer-social-links">
                {% if site.has_facebook_page? %}<a href="{{ site.broadcaster.facebook_page_profile_url }}"><i class="icon-facebook-squared"></i></a>{% endif %}
                {% if site.has_twitter? %}<a href="{{ site.broadcaster.twitter_profile_url }}"><i class="icon-twitter-squared"></i></a>{% endif %}
                {% if page and page.has_rss? %}
                  <a href="{{ page.rss_url }}"><i class="icon-rss"></i></a>
                {% elsif page and page.has_parent? and page.parent.has_rss? %}
                  <a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i></a>
                {% endif %}
              </div>

            </div>

            <div class="footer-content">

              {% if site.footer_content.size > 0 %}
              <div class="footer-text">{{ site.footer_content }}</div>
              {% endif %}

              <div class="row-fluid">

                <div class="span8 footer-left">
                  {% if request.logged_in? %}
                    Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                    {% if site.show_public_profiles? %}
                      <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                    {% endif %}
                    <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                    <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                  {% else %}
                    Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                        href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                    <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                       You can style it or move it in different ways, but please leave it in the footer. -->
                         Created with <a href="http://nationbuilder.com/">NationBuilder</a>
                  {% endif %}
                </div>

                <div class="span4 footer-right">

                  {% if site.has_twitter? %}
                  <div class="footer-social-button">
                    <a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
                  </div>
                  {% endif %}

                  {% if site.has_facebook_page? %}
                  <div class="footer-social-button"><fb:like style="height: 20px; vertical-align: top;" href="{{ site.broadcaster.facebook_page_profile_url }}" colorscheme="dark" width="292"></fb:like></div>
                  {% else %}
                  <div class="footer-social-button"><fb:like href="{{ site.full_url }}" colorscheme="dark" width="292"></fb:like></div>
                  {% endif %}

                </div>

              </div>

            </div>

          </footer>
        </div>

{% endcomment %}



        {% case page.slug %}
            {% when 'latino_electorate' %}
              {% include "signup_form" with site.signup_page %}
            {% when 'home' %}
              {% include "signup_form" with site.signup_page %}
          {% else %} 
            <!-- Do nothing -->
        {% endcase %}


{% comment %}
<!-- Fix the social media links -->
  {{ request.facebook_connect_url }}
  {{ request.twitter_connect_url }}
{% endcomment %}

    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>


<!-- PLACE FOOTER HERE -->



    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
            <h1>
              Contact Us
            </h1>
            <address>
              <p>
                <i class="fa fa-home pr-10"></i>
                  Address:1450 E Indian School Rd #101 
              </p>
              <p>
                <i class="fa fa-globe pr-10"></i>
                  Phoenix, AZ 85014 USA 
              </p>
              <p>
                <i class="fa fa-mobile pr-10"></i>
                  Mobile : (123) 456-7890 
              </p>
              <p>
                <i class="fa fa-phone pr-10"></i>
                  Phone : (602) 429-9430 
              </p>
              <p>
                <i class="fa fa-envelope pr-10"></i>
                  Email :   <a href="javascript:;">support@onearizona.com</a>
              </p>
            </address>
          </div>
          <!-- Add Twitter Feed Here -->
          <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <h1 class="text-center">latest tweet</h1>
            {% comment %}

              {% include "1twitter-feed" %}
            {% endcomment %}
            
            <!-- Example -->
              <div class="tweet-box">
                <i class="fa fa-twitter"></i>
                <em>
                  Please follow
                  <a href="javascript:;">@OneArizona</a>
                  for all future updates of us!
                  <a href="javascript:;">twitter.com/onearizona</a>
                </em>
              </div>
              <div class="tweet-box">
                <i class="fa fa-twitter"></i>
                <em>
                  Please follow
                  <a href="javascript:;">@OneArizona</a>
                  for all future updates of us!
                  <a href="javascript:;">twitter.com/onearizona</a>
                </em>
              </div>
              <div class="tweet-box">
                <i class="fa fa-twitter"></i>
                <em>
                  Please follow
                  <a href="javascript:;">@OneArizona</a>
                  for all future updates of us!
                  <a href="javascript:;">twitter.com/onearizona</a>
                </em>
              </div>
            <!-- Example -->
          </div>

          <!-- Site Map Loop -->
          <div class="col-lg-3 col-sm-3">
            <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
              <h1>
                Site Map Loop
              </h1>
              <ul class="page-footer-list">
                {% for child in site.root_nav_pages %}
                  <li>
                    <i class="fa fa-angle-right"></i>
                    <a href="{{ child.url }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3">
            <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">

                <h1>
                  Crafted with
                </h1>
                <p>

                  Crafted with <span class="fa fa-heart pulse2"></span> by <a href="#" class="white-fill">Hans McMurdy</a>
                </p>

                  {{ content_for_footer }}

                  {% if site.footer_content.size > 0 %}
                  <div class="footer-text">{{ site.footer_content }}</div>
                  <hr/>
                  {% endif %}
              
              <!--  -->
                

              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </footer>

    <footer class="footer-small">
        <div class="container">
            <div class="row">
              <!-- Right -->
                <div class="col-md-4 footer-left">
                  <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                             You can style it or move it in different ways, but please leave it in the footer. -->
                  <div class="copyright">
                    <p>&copy; VERY PAINFULLY Created with <a href="http://nationbuilder.com/">NationBuilder</a></p>
                  </div>
                </div>                
                
                <!-- Middle -->
                <div class="col-md-4 footer-middle">
                    <ul class="social-link-footer list-unstyled">
                        <!-- <p> Share </p> -->
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s">
                          <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s">
                          <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>

                        <!--  -->
                        <!-- <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".3s">
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".4s">
                          <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".6s">
                          <a href="#"><i class="fa fa-skype"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s">
                          <a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s">
                          <a href="#"><i class="fa fa-youtube"></i></a>
                        </li> -->
                    </ul>
                </div>

                <!-- Left -->
                <div class="col-md-4 footer-right">
                            {% if request.logged_in? %}
                              <p class="text-center login-text">
                                You loged in as 
                              </p>
                              <li class="sign-in-list">
                                  <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>
                                  <!-- View your -->
                              </li>
                              <li class="sign-in-list">
                                {% if site.show_public_profiles? %}
                                  <a href="{{ request.current_signup.profile_url }}">public profile</a>
                                {% endif %}
                              </li>
                              <li class="sign-in-list">
                                  <a href="{{ request.current_signup.settings_url }}">account settings</a>
                                  <!-- or -->
                              </li>
                              <li class="sign-in-list">
                                  <a href="{{ request.current_signup.logout_url }}">sign out</a>
                              </li>
                            {% else %}
                            <ul class="social-link-footer list-unstyled">
                              <li class="sign-in-list"> 
                                <!-- <a href="/login" class="email-share">
                                  <i class="fa fa-envelope"></i>
                                </a> -->
                                <a href="/login" class="white-fill">
                                  Login
                                </a>
                              </li>
                              <!--                               
                                <li>
                                    <a href="https://www.facebook.com/OneArizona" class="facebook-share">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>

                                    <a href="https://twitter.com/onearizona" class="twitter-share">                                      
                                      <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                              -->
                            </ul>
                            {% endif %}
                </div>
                


            </div>
        </div>
    </footer>


<!-- PLACE FOOTER HERE -->
        <!-- .width-container -->

      </div>
      <!-- #body -->
    </div>
    <!-- #wrap -->
  </div>
  <!-- #pattern -->


<style>
      .email-signup.form.block{
        padding: 0em 1em 0em 1em; 
      }

</style>

<!--  -->

{% if page.is_homepage? == true %}
    <script src="typewriter.js"></script>
{% endif %}



<script>
$(document).ready(function() {
  {% if page.is_homepage? == true %}
      /***************** Typewriter ******************/
          $(".features-headline").typewriter({
              speed: 60
          });

    /***************** Initiate Flexslider ******************/
        $('.flexslider').flexslider({
            animation: "slide"
        });
  {% endif %}

  {% case page.slug %}
    {% when 'test' %}
/* Author:

*/

$(function () {
  // data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type
  var tax_data = [
       {"period": "2011 Q3", "licensed": 3407, "sorned": 660},
       {"period": "2011 Q2", "licensed": 3351, "sorned": 629},
       {"period": "2011 Q1", "licensed": 3269, "sorned": 618},
       {"period": "2010 Q4", "licensed": 3246, "sorned": 661},
       {"period": "2009 Q4", "licensed": 3171, "sorned": 676},
       {"period": "2008 Q4", "licensed": 3155, "sorned": 681},
       {"period": "2007 Q4", "licensed": 3226, "sorned": 620},
       {"period": "2006 Q4", "licensed": 3245, "sorned": null},
       {"period": "2005 Q4", "licensed": 3289, "sorned": null}
  ];
  Morris.Line({
    element: 'hero-graph',
    data: tax_data,
    xkey: 'period',
    ykeys: ['licensed', 'sorned'],
    labels: ['Licensed', 'Off the road']
  });

  Morris.Donut({
    element: 'hero-donut',
    data: [
      {label: 'Jam', value: 25 },
      {label: 'Frosted', value: 40 },
      {label: 'Custard', value: 25 },
      {label: 'Sugar', value: 10 }
    ],
    formatter: function (y) { return y + "%" }
  });

  Morris.Area({
    element: 'hero-area',
    data: [
      {period: '2010 Q1', iphone: 2666, ipad: null, itouch: 2647},
      {period: '2010 Q2', iphone: 2778, ipad: 2294, itouch: 2441},
      {period: '2010 Q3', iphone: 4912, ipad: 1969, itouch: 2501},
      {period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
      {period: '2011 Q1', iphone: 6810, ipad: 1914, itouch: 2293},
      {period: '2011 Q2', iphone: 5670, ipad: 4293, itouch: 1881},
      {period: '2011 Q3', iphone: 4820, ipad: 3795, itouch: 1588},
      {period: '2011 Q4', iphone: 15073, ipad: 5967, itouch: 5175},
      {period: '2012 Q1', iphone: 10687, ipad: 4460, itouch: 2028},
      {period: '2012 Q2', iphone: 8432, ipad: 5713, itouch: 1791}
    ],
    xkey: 'period',
    ykeys: ['iphone', 'ipad', 'itouch'],
    labels: ['iPhone', 'iPad', 'iPod Touch'],
    pointSize: 2,
    hideHover: 'auto'
  });

  Morris.Bar({
    element: 'hero-bar',
    data: [
      {device: 'iPhone', geekbench: 136},
      {device: 'iPhone 3G', geekbench: 137},
      {device: 'iPhone 3GS', geekbench: 275},
      {device: 'iPhone 4', geekbench: 380},
      {device: 'iPhone 4S', geekbench: 655},
      {device: 'iPhone 5', geekbench: 1571}
    ],
    xkey: 'device',
    ykeys: ['geekbench'],
    labels: ['Geekbench'],
    barRatio: 0.4,
    xLabelAngle: 35,
    hideHover: 'auto'
  });

  new Morris.Line({
    element: 'examplefirst',
    xkey: 'year',
    ykeys: ['value'],
    labels: ['Value'],
    data: [
      {year: '2008', value: 20},
      {year: '2009', value: 10},
      {year: '2010', value: 5},
      {year: '2011', value: 5},
      {year: '2012', value: 20}
    ]
  });

  $('.code-example').each(function (index, el) {
    eval($(el).text());
  });
});


    {% else %} 

  {% endcase %}

});  

</script>

<!--  -->


{% if site.has_background_image? %}
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
    jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
  </script>
  <![endif]-->
  <style>
    body {
      background: url('{{ site.background_image_url }}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .main.width-container {
      overflow-x: hidden;
    }
  </style>
{% endif %}
</body>
</html>

