
$color:#3498db;




// Mixins

// .ss-style-triangles
	@mixin triangle-divider($divider-color) {
		
	   &::before{
	   	top: -50px;
	   	background: $divider-color;
	   }
	   
	   &::after{
			bottom: -50px;
			z-index: 10;
			background: inherit;
	   }

	   &::after,
	   &::before{
			left: 50%;
			width: 100px;
			height: 100px;
			-webkit-transform: translateX(-50%) rotate(45deg);
			transform: translateX(-50%) rotate(45deg);
	   }
	}


// doublediagonal
	@mixin doublediagonal($doublediagonal-color) {
		z-index: 1;
		padding-top: 6em;
		background: $doublediagonal-color; //#2072a7;

			&::before,
			&::after {
				top: 0;
				left: -25%;
				z-index: -1;
				width: 150%;
				height: 75%;
				background: inherit;
				-webkit-transform: rotate(-2deg);
				transform: rotate(-2deg);
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
			}

			&::before {
				height: 50%;
				background: #116094;
				-webkit-transform: rotate(-3deg);
				transform: rotate(-3deg);
				-webkit-transform-origin: 3% 0;
				transform-origin: 3% 0;
			}

	}

// cross
	@mixin cross($cross-color) {
		padding-bottom: 15em;
		
		&::before,
		&::after {
			background: $cross-color;
			bottom: 70px;
			width: 200px;
			height: 2px;
			left: 50%;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		&::before {
			-webkit-transform: translateX(-50%) rotate(45deg);
			transform: translateX(-50%) rotate(45deg);
		}

		&::after {
			-webkit-transform: translateX(-50%) rotate(-45deg);
			transform: translateX(-50%) rotate(-45deg);
		}
	}

// multitriangles
	@mixin multitriangles($box-color) {
				&::before,
				&::after {
					left: 50%;
					width: 50px;
					height: 50px;
					-webkit-transform: translateX(-50%) rotate(45deg);
					transform: translateX(-50%) rotate(45deg);
				}

				&::before {
					top: -25px;
					background: inherit;
					box-shadow: -50px 50px 0 $box-color, 50px -50px 0 $box-color;
				}

				&::after {
					bottom: -25px;
					z-index: 10;
					background: inherit;
					box-shadow: -50px 50px 0 $box-color, 50px -50px 0 $box-color;
				}
	}


	// @mixin multitriangles($bg) {
		

	// }

///////////////////////
//	END MIXINS
//////////////////




.text-content
{
	// Style differently on Home Page
	.section-container.homepage-sections{
		.header{
		    padding: 1.5em 2em 4em;
		}
		section{    
			padding: 6em 10%;
		}
		.section-1{@include triangle-divider(#2980b9); }
	}
	.section-container.latino_electorate{ 
		@include boot(sm) {
			padding: 5em 0 0 0;

		}
		@include boot(md) {
			padding: 5em 0 0 0;

		}
	}
	.section-container{
		overflow: hidden;
		svg {
			display: block;
		}

		.header {
			margin: 0 auto;
			padding: 5.5em 2em 7em;
			text-align: center;
			background-color: #215E86;
			h1 {
				color: #fff;
				font-size: 2.625em;
				line-height: 1.3;
				margin: 0;
				font-weight: 300;
			}
			span {
				display: block;
				font-size: 60%;
				opacity: 0.7;
				padding: 0 0 0.6em 0.1em;
			}
		}
		
		// Section
			section {
				position: relative;
				padding: 10em 10%;
				background: #2980b9;
				color: #fff;
				text-align: center;
				/* Common style for pseudo-elements */
				&::before,
				&::after {
					position: absolute;
					content: '';
					pointer-events: none;
				}
				@media screen and (max-width: 68em) {
						font-size: 80%;
				}
				h2 {
					margin: 0;
					padding: 0;
					font-size: 2.8em;
					font-weight: 400;
				}
				p {
				color: rgba(0,0,0,.3);
				font-size: 1.3em;
				line-height: 1.5;
				}
			}
		/////////////////////////
		// Refactor this out
		/////////////////////////
		// 
			.text:first-child {
				@media screen and (max-width: 54em) {
					text-align: center;
				}
				text-align: right;
			}

			.text:nth-child(2) {
				text-align: left;
				@media screen and (max-width: 54em) {
					text-align: center;
				}
			}

			.col-2 .column {
				width: 49%;
			}

			.col-3 .column {
				padding: 0 1%;
				width: 33%;
				text-align: center;
			}

			.col-3 .column p {
				padding: 1.4em;
			}

			.column {
					@media screen and (max-width: 54em) {
						display: block;
						width: 100% !important;
					}
				display: inline-block;
				vertical-align: top;
			}

			.icon {
				display: block;
				width: 2em;
				height: 2em;
				border-radius: 50%;
				background: rgba(0,0,0,0.1);
				color: #fff;
				text-align: center;
				font-size: 8em;
				line-height: 2em;
				margin: 0 auto;
			}

			section.color h2 {
				color: #fff;
			}

			.color {
				background: $color;
			}
		// 

		.section-1, .section-2, .section-3, .section-4, .section-5, .section-6
		{
			h2,p{color:#fff;}
		}
		.section-1{
			@include triangle-divider(#2980b9); 
		}
		.section-2{

		}
		.section-3{
			@include triangle-divider(#2980b9); 
		}
		.section-4{
			@include multitriangles( #3498db)
		}
		.section-5{
		}
		.section-6{
			@include doublediagonal(#2072a7)
		}

	}


	// END container

}