    <footer>
        <div class="container">
            {{ content_for_footer }}

        {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
        <hr/>
        {% endif %}
            <div class="row">
                <div class="col-md-7 login-group">
                    <div class="footer-links">
                        <ul class="footer-group">
                            {% if request.logged_in? %}
                              <p class="text-center login-text">
                                You loged in as 
                              </p>
                              <li>
                                  <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>
                                  <!-- View your -->

                              </li>
                              <li>
                                {% if site.show_public_profiles? %}
                                  <a href="{{ request.current_signup.profile_url }}">public profile</a>
                                {% endif %}
                              </li>
                              <li>
                                  <a href="{{ request.current_signup.settings_url }}">account settings</a>
                                  <!-- or -->
                              </li>
                              <li>
                                  <a href="{{ request.current_signup.logout_url }}">sign out</a>
                              </li>
                            {% else %}
                              <p class="text-center login-text">
                                <!-- login with -->
                                Sign in with 
                              </p>       
                              <li>
                                  <a href="https://www.facebook.com/OneArizona" class="facebook-share">
                                      <!-- Facebook -->
                                      <i class="fa fa-facebook"></i>
                                  </a>
                              </li>
                              <li>

                                  <a href="https://twitter.com/onearizona" class="twitter-share">
                                      <!-- Twitter -->
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>
                              <li>or 
                                <a href="/login" class="email-share">
                                  <!-- email -->
                                  <i class="fa fa-envelope"></i>
                                </a>
                              </li>
                            {% endif %}
                        </ul>
                        <p>
                            <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                             You can style it or move it in different ways, but please leave it in the footer. -->

                            VERY PAINFULLY Created with <a href="http://nationbuilder.com/">NationBuilder</a>
                            <br>
                        <a href="#">Licence</a>
                         | Crafted with <span class="fa fa-heart pulse2"></span> by <a href="#">Hans McMurdy</a>
                         .
                        </p>
                    </div>
                </div>
                <div class="col-md-3 social-share">
                    <p>Share One Arizona with your friends</p>
                    <a href="https://twitter.com/onearizona" class="twitter-share"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/OneArizona" class="facebook-share"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>