//* style variables *//

// headline font
$headline-font: "Lato", Helvetica, sans-serif;

// main font
$font: "Noticia Text", Times, serif;

$theme-color-1: #9558a4; // accent / logo background color
$theme-color-2: #d3c9ea; // body background
$theme-color-3: #2e1b59; // off-canvas control color
$theme-color-4: lighten($theme-color-3,5); // off-canvas border color

// form input area focus color
$theme-color-5: rgba(105, 48, 168, 0.6);

// header and footer
$header-background-color: #9558a4;
$header-background-color-2: #6930a8;
$header-color: #fff;
$background-texture: none;
$header-texture: none;
$logo-color: #fff;
$off-canvas-background-color: #2e1b59;
$features-text-color: #2f2f2f;
$features-background-color: rgba(255,255,255,.89);
$footer-background-color: #9558a4;
$footer-color: #fff;
$footer-link-color: #f4c8ff;
$footer-activities-background-color: #3d2473;

// dropdowns
$dropdown-background-color: #6930a8;
$dropdown-background-hover-color: #592890;
$dropdown-background-active-color: #512484;
$dropdown-color: #fff;
$dropdown-hover-color: #fff;
$dropdown-active-color: #fff;
$dropdown-accent-color: #c277d5;

// subnav colors
$subnav-background: #6930a8;
$subnav-hover-background: #592890;
$subnav-active-background: #512484;
$subnav-color: #fff;
$subnav-hover-color: #fff;
$subnav-active-color: #fff;

// text
$text-color: #2e2d2f;
$link-color: #5531a4;
$link-hover-color: #8e63ed;
$link-active-color: #000000;

// buttons
$button-color: #fff;
$button-background: #3d2473;
$button-hover-color: #fff;
$button-hover-background: #5531a4;
$button-active-color: #fff;
$button-active-background: #6e40d2;
$button-border: 0;
$button-padding: 2em;
$button-radius: 5px;

// site nav controls
$control-color: #fff;
$control-background: #6930a8;
$control-hover-color: #fff;
$control-hover-background: #6930a8;
$control-active-color: #fff;
$control-active-background: #512484;
$control-radius: 5px;

// forms
$form-color: #3d2474;
$form-background: #b3a7ce;

// shades
$shade-1: #9558a4; // mid gray
$shade-2: #9558a4; // dark gray
$shade-3: #9558a4; // light accent
$shade-3-text-color: #fff;
$shade-3-link-color: #f4c7ff;

// general success and error colors
$red: #eb1515;
$yellow: #ffab34;
$green: #9ac760;
$alt: #9558a4; // alternative accent